#loggedOut {
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}

.receiptBlock *{
    display: block;
    width: 50%;
    padding: 0;
    margin: auto;
}

#nav {
    background-color: white;
    border: solid 2px red;
}