@charset "UTF-8";


$primary-color: #039be5;
$secondary-color: darken(#039be5, 10%);
$off-black: $secondary-color;
$input-border-color: $primary-color;

$input-margin: 15px 0 15px 0;

@import "vendor/bower_components/Materialize/sass/materialize";

html, body {
    min-height: 100%;
    height: 100%;
}
#loggedOut {
    background-image: url("/img/background.min.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    
}
.receipt{
    div.card-content{
        min-height: 150px;
    }
    span{
        display: block;
    }
}
.receipt.add{
    a{
        display:block;
    }
}
.receipt .card-action form {
    display: inline-block;
}
.container.login{
    position: relative;
    padding: 30px;
    top: 50%;
    transform: translateY(-50%);
        
    & > .container-blur {
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.6);       
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: $small-screen) {
    .container {
        top: 0;
        transform: translateY(0);
    }
}

button[type=submit]{
    @extend .light-blue.darken-2;
}
label{
    font-weight: 900;
    @extend  .light-blue-text.text-darken-2;
}
img {
    width: 100%;
        height: 100%;
}
/*---GENERAL---*//*
html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100% !important;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
}

hr{
    width: 100%;
    border: none;
    border-top: solid 1px;
}
a, a:visited{
    color: black;
}
a:hover{
    color: black;
}
h1{
    float: left
}
#mainBlock, #registerBlock, hr, form legend, .receiptBlock{
    border-color: #1d768c !important;
}
/*---GENERAL_END---*//*

/*---INDEX---*//*
#mainBlock {
    width: 50%;
    
    position: relative;
    top: 25%;
    left: 25%;
    float:left;
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.24);
    
    div{
        width: calc(50% - 1px);
        height: 100%;
    }
    
    #loginBlock {
        
        float:left;
        
        label{
            width: 100%;
        }
    }
    #registerBlock{
        
        float:left;
        
        border-left: 1px solid;
        
        label{
            width: 100%;
        }
    }
}

/*---INDEX_END---*//*

/*---AddReceipt---*//*
#addReceipt{
    background-color: #1d768c;
}
/*---AddReceipt_ENT---*//*
/*---NAV---*//*
nav {
    .navbar{
        a:hover{
            border-radius: 5px;
            font-weight: 900;
            background-color: #29a4c3;
        }
    }
}
nav {
    
    width: 100%;
        
    float:left;
    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    
    padding: 5px 0;
    margin: 5px 0;
    
    background-color: #29a4c3;
    
    min-height: 40px;
    
    .navbar{
        
        text-align: center;
        
        padding: 5px;
        
        a{
            min-height: 40px;
                       
            text-align: center;
            text-decoration: none;
            font-size: 1.3em;
            
            padding: 5px;
        }
    }
}
/*---NAV_END---*//*

/*---FORM---*//*
form{
    width: 100%;
    height: 100%;
    
    fieldset{
        border: none;
        
        legend{
            font-size: 1.5em;
            font-weight: 900;
            color: #1d768c;
        }
        
        label{
            width: 100%;
            margin: 2px;
            
            float:left;
            
            span, input{
                padding: 5px;
                float:left;
            }
            
            span{
                width: 35%;
                font-size: 0.9em;
                font-weight: 600;
            }
            
            input {
                border: none;
                min-width: 85px;
            }
        }
    }
}
/*---FORM_END---*//*

/*---RECEIPTS---*//*

.receiptBlock:hover{
    background-color: #29a4c3 !important; 
    a{
        background-color: #29a4c3 !important;    
    }
}

.receiptBlock{

    margin: 5px;
    
    background-color: rgba(41, 164, 195, 0.24);
    
    width: 25%;
    
    min-height: 190px;
    max-height: 205px;
    min-width: 190px;
    max-width: 200px;
    
    overflow: auto;
    float: left;
    
    border: 2px solid red;
    
    text-align: center;
    
    a{
        width: 100%;

        margin-top: 5px;

        display: block;
        float:left;

        span{
            float:left;
        }
        
    }
    
    img{
        width: 100%;
        height: 100%;
    }
    
}

/*---RECEIPTS_END---*//*

/*---PRODUCTS---*//*

.productBlock{
    
}

/*---PRODUCTS_END*/