@import "color";

/*---GENERAL---*/
*{
    float: left;
}
html, body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100% !important;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: #29a4c3;
}

#loggedOut {
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
hr{
    width: 100%;
    border: none;
    border-top: solid 1px;
}
a, a:visited{
    color: black;
}
#mainBlock, #registerBlock, hr, form legend{
    border-color: #1d768c !important;
}
/*---GENERAL_END---*/

/*---INDEX---*/
#mainBlock{
    width: 50%;
    
    position: relative;
    top: 25%;
    left: 25%;
    
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.24)
}
#mainBlock div{
    width: calc(50% - 1px);
    height: 100%;
}
#loginBlock label{
    width: 100%;
}
#registerBlock{
    border-left: 1px solid;
}
#registerBlock label{
    width: 100%;
}
/*---INDEX_END---*/

/*---AddReceipt---*/
#addReceipt{
    background-color: #1d768c;
}
/*---AddReceipt_ENT---*/
/*---NAV---*/
nav {
    width: 100%;
}
nav navboxes{
    width: 25%;
    height: 15px;
    background-color: red;
}
nav .navbar{
    width: 50%;
    display: block;
}
nav .navbar a{
    margin: 0 1px;
    background-color: #1d768c;
}
/*---NAV_END---*/

/*---FORM---*/
form{
    width: 100%;
    height: 100%;
}
form fieldset{
    border: none;
}
form legend{
    font-size: 1.5em;
    font-weight: 900;
    color: #1d768c;
}
form label{
    width: 100%;
    margin: 2px;
}
form input, form label span{
    padding: 5px;
}
form input{
    border: none;
}
form input{
    min-width: 85px;
}
form label span{
    width: 35%;
    font-size: 0.9em;
    font-weight: 600;
}
/*---FORM_END---*/

/*---RECEIPTS---*/

.receiptBlock{
    width: 20%;
    display: block;
    margin: 5px;
    background-color: #1d768c;
}
.receiptBlock:hover{
    background-color: #29a4c3;
}
.receiptBlock span{
    width: 100%;
}
/*---RECEIPTS_END---*/
#nav {
    background-color: white;
    border: solid 2px red;
}