/*---GENERAL---*/
html, body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100% !important;
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background-color: #11CCFF;
}

#loggedOut {
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
}
hr{
    width: 100%;
    border: none;
    border-top: solid 1px;
}
a, a:visited{
    color: black;
}
a:hover{
    color: black;
    background-color: #29a4c3 !important;
}
#mainBlock, #registerBlock, hr, form legend, .receiptBlock{
    border-color: #1d768c !important;
}
/*---GENERAL_END---*/

/*---INDEX---*/
#mainBlock {
    width: 50%;
    
    position: relative;
    top: 25%;
    left: 25%;
    float:left;
    border: 2px solid;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.24);
    
    div{
        width: calc(50% - 1px);
        height: 100%;
    }
    
    #loginBlock {
        
        float:left;
        
        label{
            width: 100%;
        }
    }
    #registerBlock{
        
        float:left;
        
        border-left: 1px solid;
        
        label{
            width: 100%;
        }
    }
}

/*---INDEX_END---*/

/*---AddReceipt---*/
#addReceipt{
    background-color: #1d768c;
}
/*---AddReceipt_ENT---*/
/*---NAV---*/
nav {
    
    width: 100%;
        
    float:left;
    
    .navbar{
        
        width: 75%;
        height: 100%;
        
        margin-left: 12.5%;
        padding: 5px;
        
        background-color: #1d768c;
        border-radius: 15px;
        
        float:left;
        
        
        a{
            text-align: center;
            font-size: 1.3em;
        }
    }
}
/*---NAV_END---*/

/*---FORM---*/
form{
    width: 100%;
    height: 100%;
    
    fieldset{
        border: none;
        
        legend{
            font-size: 1.5em;
            font-weight: 900;
            color: #1d768c;
        }
        
        label{
            width: 100%;
            margin: 2px;
            
            float:left;
            
            span, input{
                padding: 5px;
                float:left;
            }
            
            span{
                width: 35%;
                font-size: 0.9em;
                font-weight: 600;
            }
            
            input {
                border: none;
                min-width: 85px;
            }
        }
    }
}
/*---FORM_END---*/

/*---RECEIPTS---*/

.receiptBlock:hover{
    background-color: red !important; 
    a{
        background-color: red !important;    
    }
}

.receiptBlock{

    margin: 5px;
    
    background-color: rgba(255, 255, 255, 0.24);
    
    width: 25%;
    max-height: 205px;
    min-width: 190px;
    max-width: 200px;
    
    overflow: auto;
    float: left;
    
    border: 2px solid red;
    
    a{
        width: 100%;

        margin-top: 5px;

        display: block;
        float:left;

        span{
            float:left;
        }
    }
}

/*---RECEIPTS_END---*/